name: Go

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:

  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3

    - name: Set up Go
      uses: actions/setup-go@v4
      with:
        go-version: '1.20'

    - name: Build
      run: go build -v ./...

    - name: postgresdb setup
      run: |
          sudo systemctl start postgresql.service
          sudo -u postgres psql --command="CREATE USER locket PASSWORD 'locket_pw'"
          sudo -u postgres psql --command="ALTER USER locket CREATEDB"
          sudo -u postgres createdb --owner=locket locket

    - name: Test
      run: |
          go install github.com/onsi/ginkgo/v2/ginkgo@v2
          ginkgo version
          ginkgo -r --keep-going -p -trace --randomize-all --race .
